body{
  background-image:url(../img/pizza.jpeg);
  background-size:cover;
}
.container{
  background-color: #000;
  font-family: 'Ubuntu', sans-serif;
  color:#e6e600
  /*color: #009999;*/
}
h3{
  color:red;
}
div.radio:hover, .hoverGreen:hover{
  color:#0f0;
}
.well{
  background-color: #000
}
.btn{
  color: #000;
}
div#totalPriceDiv{
  display: none;
}
